<div id="aph_gift_wrap_app" class="only_us" style="margin-bottom: 20px;">
    <p class="gift_head_top">
    <label for="giftWrapOption" id="giftWrapHead" style="color: {{ block.settings.text_color }}">
        <b>{{ block.settings.text_checkbox }} $<span id="gift_product_price"></span></b>
    </label>
    <input type="checkbox" id="giftWrapOption" class="coupon_question" name="coupon_question" value="1" style=" margin-left: 10px; " />

    <span class="info_msg info_msg_hidden">
        Please check the box to add Gift Wrap with your product.
    </span>
    </p>
    <!-- <p style="margin-top: -27px;">
    <small>
    <i>( We\'ll add a complimentary custom note card too. )</i>
    </small>
    </p> -->
</div>
<div class="only_us" style="display: block;">
    <div class="giftcartmain" id="giftWrapText" style="display: none;">
        <div class="giftcart ">
            <div class="giftcart-inner">
                <div class="giftcart-col-first">
                    <img class=" ls-is-cached lazyloaded" id="gift_image" />
                </div>
                <div class="giftcart-col-secound">
                    <h4><b>{{ block.settings.text_heading }}</b></h4>
                    
                    <p>You'll Also Get A Complimentary Hand Written Card.</p>
                    <textarea required="" id="gifttext" name="gifttext" rows="2" cols="80" placeholder="Your custom note here (Up to 70 characters)" maxlength="70"></textarea>
                    <!-- Start Buy 1 get 2 Free disclaimer  -->
                        
                    <!-- End Buy 1 get 2 Free disclaimer  -->
                    <input type="checkbox" id="giftInvoice" class="" name="giftInvoice" value="It's a gift. Don't add Receipt.">
                    <label id="giftInvoiceLabel" for="giftInvoice">{{ block.settings.text_receipt }}</label>
                    <input type="hidden" name="giftName" id="giftName">
                    <style>
                    input#giftInvoice {min-height: auto;}
                    label#giftInvoiceLabel {display: inline-block;vertical-align: super;}
                    .bogo-disclaimer { font-style: italic; font-size: 12px; margin-bottom: 10px; margin-top: -11px;}
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pro_id =  '{{product.id}}';
</script>
